@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
}



.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#mensaje{
    margin-bottom: 10px;
    height: 30px;
}

.error{
    color: red;
}

.alerta{
    color: rgb(212, 137, 39);
}

.exitoso{
    color: rgb(26, 189, 26);
}


.game{
    display: grid;
    background-color: #3b3bff;
    border-radius: 6px;
    gap: 20px;
    padding: 15px;
}

.ficha{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}


.reiniciar{
    margin-top: 20px;
    padding: 5px 20px;
    background-color: rgb(203, 203, 228);
    color: rgb(70, 70, 70);
    border: 1px solid #a1a1ff;
    font-size: 16px;
    border-radius: 6px;
}

.reiniciar:hover{
    cursor: pointer;
}